html {
    height: 101%;
}

body {
    /*max-width: 1000px;*/
}

#heading {
    /*text-align: center;*/
}

#title {
    text-align: center;
}

#subtitle {
    text-align: center;
}

#animation {
    border-style: solid;
    border-color: black;
}
