/* Limit Width */
#wrap {
    max-width: 1920px;
}

/* Space containing the quiz */
#container {
}

/* "Start Quiz" Button */
#start {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
    /* When you mouse over it */
    #start:hover {
        border: 2px solid black;
        background-color: #f0f0f0;
        font-weight: bold;
    }
    /* When you click it */
    #start:active {
        background-color: lightgrey;
    }

/* Randomizer button */
#randomize {
    display: inline-block;
    border: 1px solid black;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    background-color: yellow;
}
    /* When you mouse over it */
    #randomize:hover {
        border: 2px solid black;
        font-weight: bold;
        background-color: red;
    }

/* Restart the quiz */
#restart {
    display: inline-block;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    padding: 5px;
    background-color: chartreuse;
    box-sizing: border-box;
}
    /* When you mouse over it */
    #restart:hover {
        border: 2px solid black;
        background-color: #f0f0f0;
        font-weight: bold;
    }
    /* When you click it */
    #restart:active {
        background-color: lightgrey;
    }

/* Text for the current question */
#question {
    font-size: 20px;
}

/* Space containing the response buttons */
#choices {
}

/* Response buttons */
.choice {
    display: inline-block;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
    /* When you mouse over it */
    .choice:hover {
        border: 2px solid black;
        background-color: #f0f0f0;
        font-weight: bold;
    }
    /* When you click it */
    .choice:active {
        background-color: lightgrey;
    }

/* Go back to the last question */
#previous {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    background-color: aqua;
}
    /* When you mouse over it */
    #previous:hover {
        border: 2px solid black;
        background-color: #f0f0f0;
        font-weight: bold;
    }
    /* When you click it */
    #previous:active {
        background-color: lightgrey;
    }
